body {
    font-family: "Orbitron", sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Login Page */
.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-login {
    max-width: 200px;
    height: auto;
}

.input-group button {
    background-color: black;
    border: none;
}

 .input-group button:hover {
    background-color: rgb(76, 76, 76);
 }

/* Navigation Bar */
.navbar {
    font-family: "Orbitron", sans-serif;
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
 
.navbar-brand img {
    max-height: 35px;
    width: auto;
}

.logout-button {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.logout-button:hover {
    background-color: grey;
    color: white;
    font-size: 1.25rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: black;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: black;
}

/* Image Slider */
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-left: 50px;
    padding-right: 50px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner .content h1{
    font-family: "Orbitron", sans-serif;
    font-size: 4em;
    line-height: 0em;
    color: black;
}

.banner .content .statement p b{
    font-family: "Orbitron", sans-serif;
    font-size: 1.5em;
    text-align: right;
    max-width: 100%;
}

.banner .content .statement p{
    font-family: "Urbanist", sans-serif;
    font-size: 1em;
    text-align: right;
    max-width: 100%;
}

.banner .content .person{
    background-image: url(images/vintagerecordplayer.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
}

/* Responsive */
@media (min-width: 992px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        min-height: 250px;
        padding: 20px;
    }
    .navbar-brand img {
        max-height: 30px;
    }

    .banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner .content h1{
    font-family: "Orbitron", sans-serif;
    font-size: 27px;
    line-height: 0em;
    color: black;
}

.banner .content .statement p b{
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
    text-align: right;
    max-width: 100%;
}

.banner .content .statement p{
    font-family: "Urbanist", sans-serif;
    font-size: 7px;
    text-align: right;
    max-width: 100%;
}

.banner .content .person{
    background-image: url(images/vintagerecordplayer.png);
    width: 100%;
    height: 55vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
}
}