body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

.center {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    color: black;
    font-weight: 600;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: none;
}

.logo label {
    display: none;
}

.links {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    width: 100px;
    padding: 10px 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5mm;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.link:hover {
    background: rgba(100, 100, 100, 0.5);
}

@media screen and (max-width: 650px) {
    .menu{
        flex-direction: column;
    }

    .menu .logo {
        width: 100%;
    }

    .menu .logo label{
        display: block;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
    }

    .menu .logo label::before {
        position: absolute;
        content: "menu";
        font-family: "Material Icons";
        top: 0;
        left: 0;
        font-size: 30px;
    }

    .menu .links {
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .menu .link{
        width: 100%;
        padding: 15px;
        border-radius: 0;
        border-top: 0.5mm solid rgba(100, 100, 100, 100, 0.5);
    }

    #menu:checked ~ .links {
        max-height: 500px;
    }
    
    #menu:checked ~ .logo label::before {
        content: "close";
    }
}

/* Image Slider */
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}