body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Navigation Bar */
.navbar {
    font-family: "Orbitron", sans-serif;
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
 
.navbar-brand img {
    max-height: 200px;
    width: auto;
}

.login-button {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: grey;
    color: white;
    font-size: 1.25rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: black;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: black;
}

@media (min-width: 992px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 150px;
    }
}

/* Image Slider */
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}